---
const tools = [
  {
    name: "Android (Kotlin)",
    image: "/tools/android.svg",
    color: "bg-emerald-50 border-emerald-200",
  },
  {
    name: "Apple (Swift)",
    image: "/tools/apple.svg",
    color: "bg-gray-50 border-gray-200",
  },
  {
    name: "Capacitor",
    image: "/tools/capacitor-js.svg",
    color: "bg-sky-50 border-sky-200",
  },
  {
    name: ".NET MAUI",
    image: "/tools/dotnet.png",
    color: "bg-purple-50 border-purple-200",
  },
  {
    name: "Electron",
    image: "/tools/electron.svg",
    color: "bg-teal-50 border-teal-200",
  },
  {
    name: "Flutter",
    image: "/tools/flutter.svg",
    color: "bg-blue-50 border-blue-200",
  },
  {
    name: "React Native",
    image: "/tools/react-native.svg",
    color: "bg-sky-50 border-sky-200",
  },
  {
    name: "Tauri",
    image: "/tools/tauri.svg",
    color: "bg-orange-50 border-orange-200",
  },
  {
    name: "Xamarin",
    image: "/tools/xamarin.svg",
    color: "bg-blue-50 border-blue-200",
  },
];
---

<div class="bg-white py-24">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-center text-lg font-semibold leading-8 text-gray-900">
      SDKs available for the framework you love!
    </h2>
    <div
      class="mx-auto mt-10 grid max-w-lg grid-cols-2 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-4 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5"
    >
      {
        tools.map((tool) => (
          <div class={`border rounded-lg p-2 text-center ${tool.color}`}>
            <img
              class="col-span-2 max-h-24 w-full object-contain lg:col-span-1"
              src={tool.image}
              alt={tool.name}
            />
            <p class="text-xl text-gray-700 font-semibold mt-4">{tool.name}</p>
          </div>
        ))
      }
    </div>
  </div>
</div>
