---
import Logo from "./Logo.astro";
---

<header class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <nav class="flex items-center justify-center p-6 lg:px-8">
    <a href="/" class="-m-1.5 p-1.5">
      <span class="sr-only">Aptabase</span>
      <Logo />
    </a>
  </nav>
</header>
