---
import HeroBackground from "./HeroBackground.astro";
import SignUpOrDashboard from "./SignUpOrDashboard.astro";
import Logo from "./Logo.astro";
import WorksWith from "./WorksWith.astro";
import { Image } from "astro:assets";
import heroImage from "../assets/hero.png";
---
<div class="relative isolate overflow-hidden">
  <HeroBackground />
  <div
    class="mx-auto max-w-7xl px-6 pb-24 pt-10 sm:pb-32 lg:flex lg:px-8 lg:py-20"
  >
    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl lg:flex-shrink-0 lg:pt-8">
      <Logo />
      <h1 class="mt-2 text-4xl font-title font-bold tracking-tight sm:text-6xl">
        Analytics for Apps. <br />Privacy-First. Simple.
      </h1>
      <p class="mt-6 text-xl leading-8 text-gray-500 max-w-md">
        Insights for your app without compromising on user privacy. Built for
        Desktop, Mobile and Web apps.
      </p>
      <div class="mt-10 flex items-center gap-x-6">
        <SignUpOrDashboard />
        <a
          href="https://github.com/aptabase/aptabase"
          target="_blank"
          class="text-sm rounded-md leading-6 px-4 flex items-center space-x-1 bg-white border shadow-sm border-gray-200 focus-visible:outline-black p-2 hover:border-black"
        >
          <svg
            fill="currentColor"
            viewBox="0 0 24 24"
            class="h-6 w-6"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
              clip-rule="evenodd"></path>
          </svg>
          <span>Star on GitHub</span>
        </a>
      </div>
      <WorksWith />
    </div>
    <div
      class="mx-auto mt-16 flex max-w-2xl sm:mt-24 lg:ml-10 lg:mr-0 lg:mt-0 lg:max-w-none lg:flex-none xl:ml-32"
    >
      <div class="max-w-3xl flex-none sm:max-w-5xl lg:max-w-none">
        <div
          class="-m-2 rounded-xl bg-gray-900/5 p-2 ring-1 ring-inset ring-gray-900/10 lg:-m-4 lg:rounded-2xl lg:p-2"
        >
          <Image
            src={heroImage}
            alt="Aptabase Dashboard Screenshot"
            width={1300}
            height={911}
            class="w-[76rem] rounded-xl shadow-2xl ring-1 ring-gray-900/10"
          />
        </div>
      </div>
    </div>
  </div>
</div>
