---
import HeroBackground from "./HeroBackground.astro";
import Logo from "./Logo.astro";
import WorksWith from "./WorksWith.astro";
---

<div class="relative isolate overflow-hidden bg-white">
  <HeroBackground />
  <div
    class="mx-auto max-w-7xl px-6 pb-24 pt-10 sm:pb-32 lg:flex lg:px-8 lg:py-40"
  >
    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl lg:flex-shrink-0 lg:pt-8">
      <Logo />
      <span
        class="inline-block select-none px-2 mt-10 text-xs font-semibold leading-6 tracking-tight bg-blue-50 rounded-lg text-blue-600"
        >Public Beta</span
      >
      <h1 class="mt-2 text-4xl font-title font-bold tracking-tight sm:text-6xl">
        Build better apps with <br />data-driven analytics
      </h1>
      <p class="mt-6 text-xl leading-8 text-gray-500">
        Aptabase is a <span class="text-gray-900">privacy-first</span>
        and <span class="text-gray-900">simple</span> analytics for Mobile, Desktop
        and Web apps.
      </p>
      <div class="mt-10 flex items-center gap-x-6">
        <a
          href="https://us.aptabase.com/auth/register"
          class="rounded-md bg-black px-6 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
          >Sign up</a
        >
        <a
          href="https://us.aptabase.com/"
          class="text-sm font-semibold rounded-md leading-6 px-4 focus-visible:outline-black p-2 hover:bg-gray-100"
          >Sign in <span aria-hidden="true">→</span></a
        >
      </div>
      <WorksWith />
    </div>
    <div
      class="mx-auto mt-16 flex max-w-2xl sm:mt-24 lg:ml-10 lg:mr-0 lg:mt-0 lg:max-w-none lg:flex-none xl:ml-32"
    >
      <div class="max-w-3xl flex-none sm:max-w-5xl lg:max-w-none">
        <div
          class="-m-2 rounded-xl bg-gray-900/5 p-2 ring-1 ring-inset ring-gray-900/10 lg:-m-4 lg:rounded-2xl lg:p-2"
        >
          <img
            src="/hero.png"
            alt="Aptabase Dashboard Screenshot"
            width="2432"
            height="1442"
            class="w-[76rem] rounded-xl shadow-2xl ring-1 ring-gray-900/10"
          />
        </div>
      </div>
    </div>
  </div>
</div>
