---
var buttonStyle =
  "rounded-md bg-primary px-4 py-3 text-sm font-semibold text-white shadow-sm hover:opacity-80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black";
---

<script is:inline>
  function authQuery() {
    if (location.hostname !== "aptabase.com") {
      return { authEU: false, authUS: false };
    }

    return {
      authEU: false,
      authUS: false,
      init() {
        fetch("https://eu.aptabase.com/api/_auth/me", {
          credentials: "include",
        }).then((x) => (this.authEU = x.ok));
        fetch("https://us.aptabase.com/api/_auth/me", {
          credentials: "include",
        }).then((x) => (this.authUS = x.ok));
      },
    };
  }
</script>

<div x-data="authQuery()">
  <button
    x-show="!authUS && !authEU"
    x-on:click="document.getElementById('register').showModal()"
    class={buttonStyle}
  >
    Get Started →
  </button>

  <template x-if="authEU">
    <a
      href="https://eu.aptabase.com"
      class={`plausible-event-name=Dashboard_EU ${buttonStyle}`}
    >
      Dashboard →
    </a>
  </template>
  <template x-if="authUS && !authEU">
    <a
      href="https://us.aptabase.com"
      class={`plausible-event-name=Dashboard_US ${buttonStyle}`}
    >
      Dashboard →
    </a>
  </template>
</div>
