---
const sdks = [
  {
    name: "Native iOS (Swift)",
    image: "/tools/apple.svg",
    href: "/for-swift",
  },
  {
    name: "Native Android (Kotlin)",
    image: "/tools/android.svg",
    href: "/for-android",
  },
  {
    name: "Flutter",
    image: "/tools/flutter.svg",
    href: "/for-flutter",
  },
  {
    name: "Electron",
    image: "/tools/electron.svg",
    href: "/for-electron",
  },
  {
    name: "NativeScript",
    image: "/tools/nativescript.svg",
    href: "/for-nativescript",
  },
  {
    name: "Tauri",
    image: "/tools/tauri.svg",
    href: "/for-tauri",
  },
  {
    name: "React Native",
    image: "/tools/react-native.svg",
    href: "/for-react-native",
  },
  {
    name: "Web App",
    image: "/tools/javascript.svg",
    href: "/for-webapps",
  },
  {
    name: ".NET MAUI",
    image: "/tools/dotnet.svg",
    href: "/for-maui",
  },
];
---

<div class="mt-10 md:mt-20 max-w-sm">
  <p class="tracking-tighter font-semibold text-sm text-gray-700 mb-2">
    <span>Works with</span>
    <strong class="pl-1 inline-block animate-bounce">↓</strong>
  </p>
  <div class="grid grid-cols-5 gap-6">
    {
      sdks.map((tool) => (
        <a href={tool.href}>
          <img class="h-14 w-14" src={tool.image} alt={tool.name} />
        </a>
      ))
    }
  </div>
</div>
