---
import { Image } from "astro:assets";
import iphoneImage from "../../assets/iphone.png";
---

<div class="overflow-hidden bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-2xl lg:max-w-7xl px-6 lg:px-8">
    <div class="lg:text-center lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Built with ❤️ by developers, for developers!
      </h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        We've built apps too and we know what things matter most to you.
      </p>
    </div>
    <dl class="grid lg:grid-cols-3 gap-6 mt-10 items-center border-b">
      <div class="flex flex-col gap-y-6 lg:gap-y-40 order-1">
        <div>
          <dt class="font-semibold text-gray-900">Lightweight SDK</dt>
          <dd class="mt-1 text-gray-600">
            Over 10 SDKs to choose from. All lightweight and built to do one
            thing, and do it well.
          </dd>
          <dd class="mt-1 text-gray-600">
            The SDKs are built to be as small and fast as possible that you
            won't even notice them.
          </dd>
        </div>
        <div>
          <dt class="font-semibold text-gray-900">Dark Mode</dt>
          <dd class="mt-1 text-gray-600">
            Because we know you love it. We do too!
          </dd>
        </div>
      </div>
      <div class="order-3 lg:order-2">
        <Image
          src={iphoneImage}
          alt="iPhone using Aptabase"
          width={1339}
          height={2217}
          class="mx-auto"
        />
      </div>
      <div class="flex flex-col gap-y-6 lg:gap-y-40 order-2 lg:order-3">
        <div>
          <dt class="font-semibold text-gray-900">Debug / Release mode</dt>
          <dd class="mt-1 text-gray-600">
            Aptabase automatically detects if the app is running in Debug so
            that you can easily run experiments without affecting your
            production data.
          </dd>
        </div>
        <div>
          <dt class="font-semibold text-gray-900">Mobile-first Dashboard</dt>
          <dd class="mt-1 text-gray-600">
            A built-in dashboard made for mobile so you can peek at your data on
            the go.
          </dd>
        </div>
      </div>
    </dl>
  </div>
</div>
