---
const { title, description } = Astro.props;
---

<div class="relative pl-16">
  <dt class="text-base font-semibold leading-7 text-gray-900">
    <div class="absolute left-0 top-0">
      <slot />
    </div>
    {title}
  </dt>
  <dd class="mt-2 text-base leading-7 text-gray-600">
    {description}
  </dd>
</div>
