---
import FeatureItem from "./FeatureItem.astro";
---

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
    >
      <div>
        <h2 class="text-base font-semibold leading-7 text-sky-600">
          Privacy front and center
        </h2>
        <p
          class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
        >
          Analytics without the legal headaches
        </p>
        <p class="mt-6 text-base leading-7 text-gray-600">
          In the realms of user tracking and privacy, Aptabase employs a unique
          strategy to secure the privacy of your users.
        </p>
      </div>
      <dl
        class="col-span-2 grid grid-cols-1 gap-x-8 gap-y-10 text-base leading-7 text-gray-600 sm:grid-cols-2 lg:gap-y-16"
      >
        <FeatureItem
          color="text-sky-500"
          title="Truly anonymous data"
          description="Sessions tracked by Aptabase are completely anonymous and untraceable. The data we collect is not linked to any identifiable individual."
        />
        <FeatureItem
          color="text-sky-500"
          title="Goodbye fingerprinting!"
          description="Aptabase does not use device identifiers, cookies, fingerprinting nor long-term user identification."
        />
        <FeatureItem
          color="text-sky-500"
          title="Open Source"
          description="Aptabase is 100% open source so you can inspect the code and make sure we're not doing anything shady :)"
        />
        <FeatureItem
          color="text-sky-500"
          title="100% Data Ownership"
          description="It's your data, you own it. We don't sell it and we don't use it. It's yours and yours alone. You can even export it at any time!"
        />
        <FeatureItem
          color="text-sky-500"
          title="EU or US data residency, or bring your own"
          description="You can decide where your data is stored. Choose between our EU or US data centers, or host your own servers!"
        />
        <FeatureItem
          color="text-sky-500"
          title="GDPR, CCPA and PECR compliant"
          description="Aptabase does not collect any personal data to help you keep your application compliant with the latest strict privacy regulations."
        />
      </dl>
    </div>
  </div>
</div>
