---
import FeatureItem from "./FeatureItem.astro";
---

<div class="overflow-hidden bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
    >
      <div class="lg:pr-8 lg:pt-4">
        <div class="lg:max-w-lg">
          <h2 class="text-base font-semibold leading-7 text-blue-600">
            Get started in seconds
          </h2>
          <p
            class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
          >
            Better, simpler and faster
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-600">
            Aptabase is an easy to use and open source alternative to Google
            Firebase Analytics for Mobile and Desktop applications.
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-600">
            With Aptabase you go from zero to a beautiful analytics dashboard in
            seconds.
          </p>
          <dl
            class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none"
          >
            <FeatureItem
              color="text-blue-500"
              title="Real Time"
              description="Data is updated in real time as users interact with your app. No need to way hours to see what's happening."
            />
            <FeatureItem
              color="text-blue-500"
              title="Event Tracking"
              description="Measure anything that happens in your app. Track button clicks, feature usage, configuration changes, and more. You're in control of what to track and measure."
            />
          </dl>
        </div>
      </div>
      <img
        src="/images/events.jpeg"
        alt="Analytics"
        class="rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0"
        width="2432"
        height="1442"
      />
    </div>
  </div>
</div>
