---
import ContentLayout from "./ContentLayout.astro";
const { frontmatter } = Astro.props;
---

<ContentLayout
  title={`${frontmatter.title} - Docs - Aptabase`}
  description={frontmatter.description}
>
  <div
    class="mx-auto max-w-5xl px-6 lg:px-8 mb-12 flex w-full flex-col space-y-4"
  >
    <h1 class="text-4xl font-title text-gray-900 sm:text-5xl lg:text-6xl">
      {frontmatter.title}
    </h1>
    <p
      class="text-2xl font-light tracking-wide text-gray-700 sm:text-xl lg:text-2xl"
    >
      {frontmatter.description}
    </p>
  </div>
  <div class="relative mx-auto mt-20 max-w-4xl px-4 sm:px-6 lg:px-8">
    <article
      class="prose max-w-none prose-a:text-blue-500 prose-a:no-underline hover:prose-a:text-blue-600 prose-img:rounded-lg"
    >
      <slot />
    </article>
  </div>
</ContentLayout>
