---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
  <div class="px-6 py-10 lg:px-8">
    <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
      <div class="prose prose-h1:font-title">
        <slot />
      </div>
    </div>
  </div>
</BaseLayout>
